@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Raleway:wght@300&display=swap');


body {
    font-family: 'Raleway', serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Great vibes',cursive;
    line-height: 1.2;
    font-weight: bold;
}

li {
    list-style: square;
}

li li {
    list-style: disc ;
}

li li li {
    list-style: circle;
}

ol li {
    list-style: decimal;
}